= simple_form_for Article.new, url: web_articles_path do |f|
  - if @article.errors.any?
    .alert.alert-danger
      %a.close{"data-dismiss" => "alert"} ×
      = @article.errors.full_messages[0]
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    /- if @article.errors[:content].any?
    /  #content_error= @article.errors[:content][0]
    = f.label :content
    = f.text_area :content, class: 'form-control'

  = f.submit 'Create article', class: 'btn btn-default'