%nav.navbar.navbar-default
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Blog
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Home", web_articles_path
        - if can? :create, Article.new
          %li= link_to 'Create article', new_web_article_path
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li.dropdown#navbar-fullscreen
            %p.dropdown-toggle.header-img{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %img.img-circle{src: current_user.img}
            %ul.dropdown-menu
              .dropdown-caret
                .caret-outer
                .caret-inner
              %li
                %a{:href => web_profile_path} 
                  %b= current_user.fullname
                  %small View profile
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Articles
              %li= link_to "Create article", new_web_article_path
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Settings
              %li= link_to "Log out", web_logout_path
          %li.dropdown#navbar-mobile
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %b Gleb Vishnevsky
            %ul.dropdown-menu
              %li
                %a{:href => web_profile_path} View profile
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Articles
              %li= link_to "Create article", new_web_article_path
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Settings
              %li= link_to "Log out", web_logout_path
        - else
          %li= link_to "Log in", "/web/auth/vkontakte"
      .pull-right
        = simple_form_for Search.new, url: web_search_path, method: :post, html: {class: 'navbar-form'} do |f|
          .input-group    
            = f.text_field :query, placeholder: "search", class: 'form-control'
            .input-group-btn
              %button.btn.btn-default{:type => "submit"}
                %i.glyphicon.glyphicon-search