= simple_form_for User.new, url: web_registration_path do |f|
  %div
    - if @user.errors[:username].any?
      #username_error= @user.errors[:username][0]
    %div  
      = f.input :username, error_html: { id: 'username_error'}
  %div
    - if @user.errors[:email].any?
      #email_error= @user.errors[:email][0]
    %div
      = f.input :email, error_html: { id: 'email_error'}
  %div
    - if @user.errors[:password].any?
      #password_error= @user.errors[:password][0]
    %div
      = f.input :password, error_html: { id: 'password_error'}
  %div
    - if @user.errors[:name].any?
      #name_error= @user.errors[:name][0]
    %div
      = f.input :name, error_html: { id: 'name_error'}
  %div
    - if @user.errors[:surname].any?
      #surname_error= @user.errors[:surname][0]
    %div
      = f.input :surname, error_html: { id: 'surname_error'}
  %div
    = f.submit